
.homepage{
    width: 100%;
    width: 1440px;
    height: 900px;
    background-image: url("./assets/bgImage.jpg");
    margin-top: -85px;
    color: white;
    font-size: xx-large;
    text-align: center;
    align-content: center;
}

.homepage > p{
    font-family: 'ABeeZee',sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 654px;
    margin-left: 393px;
}


.navbar{
    display: flex ;
    position: sticky ;
    width: 1440px;
    top: 0px ;
    height: 85px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}

.navbar > #button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#button:first-child{
    width: 66px;
    font-size: 10px;
    border-color: black;
}

#button:last-child{
    background-color: white !important;
    color: black;
    margin-inline-end: 5px;
}
#button:nth-child(2){
    background-color: transparent;
    border: 1px solid white !important;
    width: 128px;
}

#button:nth-child(2):hover{
    background-color: white;
    color: #000000;
}
#button{
    width: auto;
    min-width: 118px;
    height: 45px;
    border: 1px;
    border-radius: 2px;
    font-family: "ABeeZee",sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    background-color: inherit;
    font-weight: bold;
}

.homepage > #button{
    background-color: transparent !important;
    border: 1px solid white !important;
    width: 128px;
    color: white !important;
    width: 160px !important;
}

.homepage > #button:hover{
    background-color: white !important;
    color: #000000 !important;
}

.navbar> #primary{
    width: 40px;
    height: 20px;
    margin-left: 40px;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

.navbar> #primary,#button:hover{
    cursor: pointer;
}

.display{
    display: flex;
    width: 1440px;
    height: 900px;
    background-size: cover;
    background: linear-gradient(45deg,#000000 0 40%, #000000 80% 0%);
    background-image: url("./assets/backgroundImage1.jpg");
    overflow: hidden;
    color: white;
    gap: 40px;
}
.display > div:first-child{
    margin-top: 622px;
    width: 510px;
    height: 238px !important;
    gap: 30px;
    margin-left: 40px;
}
.display > #program{
    margin-left: auto;
}



.display > div > p:first-child{
    font-family: 'ABeeZee',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.18px;
    letter-spacing: 0.02em;
    text-align: left;  
    margin-top: 0px; 
}

.display > div  >p:nth-child(2){
    font-family: 'ABeeZee',sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-block-end: 0px !important;
}


.display > div >p:nth-child(3){
    font-family: 'Sailec',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-block-start: 15px !important;
}

.display > div:first-child{
    gap: 30px !important;
}


#yoga,#hiit,#ride{
    width: 720px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: 0px;
}

#yoga,#hiit,#ride{
    text-align: left;
    align-content: center;
    padding: 0px 0px 0px 40px;
    font-family: 'ABeeZee',sans-serif;
}

#yoga > div:first-child > p:first-child{
    font-size: 24px;
    margin-top: 100px;
}
#hiit > div:first-child > p:first-child{
    font-size: 24px;
    margin-top: 100px;
}
#ride > div:first-child > p:first-child{
    font-size: 24px;
    margin-top: 100px;
}

#yoga > div:first-child > p:last-child{
    font-size: 16px;
}
#hiit > div:first-child > p:last-child{
    font-size: 16px;
}
#ride > div:first-child > p:last-child{
    font-size: 16px;
}


#yoga >div> p:last-child{
    font-family: "Sailec",sans-serif;
    font-weight: 400;
}
#hiit >div> p:last-child{
    font-family: "Sailec",sans-serif;
    font-weight: 400;
}


#yoga > button{
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: inherit;
    margin-top: 25px;
}

#hiit > button{
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: inherit;
    margin: top 25px;
} 

#ride > button{
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: inherit;
    margin: top 25px;
} 

#yoga:hover{
    cursor: pointer;
    background: linear-gradient(45deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url("./assets/Frame5894.png");
    background-color: white;
    color: black;
}

#ride:hover{
    cursor: pointer;
    background: linear-gradient(45deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url("./assets/Frame5894.png");
    background-color: white;
    color: black;
}

#hiit:hover{
    cursor: pointer;
    background: linear-gradient(45deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url("./assets/Frame5894.png");
    background-color: white;
    color: black;
}

.wellness{
    display: flex;
    width: 1440px;
    height: 900px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(45deg,#000000 0 40%, #000000 80% 0%);
    background-image: url("./assets/wellness&spa.jpg"); 
    overflow: hidden;
    color: white;
    justify-content: space-between;
}

.wellness > div:first-child{
    margin-top: 600px;
    width: calc(1440px - 720px);
    gap: 30px;
    margin-left: 40px;
}

.wellness > div:first-child > p:first-child{
    font-family: 'ABeeZee',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.18px;
    letter-spacing: 0.02em;
    text-align: left;  
    margin-top: 0px; 
}

.wellness > div:first-child  >p:nth-child(2n){
    font-family: 'ABeeZee',sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    width: 640px;
}


.wellness > div:first-child >p:nth-child(3n){
    font-family: 'Sailec',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-block-start: 15px !important;
}

.wellness > div:first-child{
    gap: 30px !important;
}

.wellness >div > #button{
    width: 195px ;
}

#spa-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 450px;
    height: 420px ;
    padding: 0px 40px 20px 40px;
    width: 720px !important;
}


#spa-items > p{
    margin: 0px;
    height: 54px;
    align-content: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-family: ABeeZee;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.18px;
    letter-spacing: 0.02em;
    text-align: left;
}

#spa-items > p:hover{
    cursor: pointer;
}

#spa-items > div{
    display: flex;
    justify-content: space-between;
}


#spa-items > div > button{
    background: none;
    color: inherit;
    border: none;
}
#spa-items > div > button:hover{
    cursor: pointer;
}

#geosist-name{
    font-family: ABeeZee;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.18px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 119px;
    height: 14px;
    margin-top: 150px;
    margin-left: 50px;
    gap: 0px;
    opacity: 0px;
}

.geosist{
    display: flex;
    flex-direction: row;
    margin-top: 47px;
    gap: 0px;
    width: 1440px !important;
}

.geosist>div{
    display: flex;
    flex-direction: column;
}

.geosist > div > img{
    width: 720px;
    height: 429px;
    margin: 0px 0px 0px 0px;
}

.geosist > div:first-child > div{
    display: flex;
    flex-direction: row;
    width: 720px;
}

.geosist > div > div > div{
    padding: 40px;
}


.geosist > div > div > div:first-child >p:first-child{
    font-family: 'ABeeZee',sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}
.geosist > div > div > div:first-child >p:nth-child(2){
    font-family: 'Sailec',sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
.geosist > div > div > div:first-child >p:nth-child(3){
    font-family: 'Sailec',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #00000040;
}

.geosist > div > div > div{
    border: 1px solid #00000040;
}

.geosist > div>div>div:last-child{
    width: 120px;
}

.geosist > div>div>div:last-child>p:first-child{
    width: max-content;
    color: #c79d5b;
    font-family: 'ABeeZee',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.18px;
    letter-spacing: 0.02em;
    text-align: center;    
}

.geosist > div>div>div:last-child>p>span{
    color: #c79d5b;
}

.geosist > div > div{
    display: flex;
}

.geosist > div > div > div > p:first-child{
    font-family: ABeeZee;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}


/*Media Queries*/

/*For Small Screens less than 375px*/
@media only screen and (max-width:425px){
    .homepage{
        width: 100%;
        width: 390px;
        background-image: url('./assets/bgImage.jpg');
        background-position: center;
        height: 900px;
    }
    .navbar{
        display: none;

    }
    #primary > img{
        width: 20px !important;
        height: 12px !important;
    }
    .display {
        width: 390px;
        height: 720px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 200px;
    } 
    .display > div:first-child{
        width: 100%;
        margin-inline: 0px;
        margin-top: 20px;
        width: Fill (390px)px;
        height: (264px)px;
        padding: 20px 20px 20px 20px;
        gap: 40px;
        opacity: 0px;
    }

    .display > #program > #yoga > div > p:first-child{
        margin-top: 0px;  
        width: max-content;
    }
    .display > #program > #yoga,#ride,#hiit{
        display: flex;
        flex-direction: row;
        height: 70px;
    }

    .display > #program > #yoga>div>p:first-child{
        margin-top: 50%;
    }

    .display > #program > #yoga>button>p{
        visibility: hidden;
    }

    .display > #program > #yoga > div > p:last-child{
        display: none;
    }

    .display > #program > #ride > div > p:first-child{
        margin-top: 0px;
        width: max-content;
    }
    .display > #program > #ride > div > p:last-child{
        display: none;
    }
    .display > #program > #ride>div>p:first-child{
        margin-top: 50%;
    }
    .display > #program > #ride>button>p{
        visibility: hidden;
    }
    .display > #program > #hiit > div > p:first-child{
        margin-top: 0px;
        width: max-content;
    }
    .display > #program > #hiit > div > p:last-child{
        display: none;
    }
    .display > #program > #hiit>div>p:first-child{
        margin-top: 50%;
    }
    .display > #program > #hiit>button>p{
        visibility: hidden;
    }
    .wellness{
        display: flex;
        flex-direction: column;
        width: 390px;
        background-position: center;
    }
    .wellness > div:first-child{
        margin-inline: 0px;
        padding-inline: 20px;
        width: 390px;
        height: max-content;
        gap: 40px;
        margin-block: 40px !important;
    }

    .wellness > div:first-child > p:nth-child(2){
        width: 350px !important;
        height: max-content;
        font-size: 32px;
        margin-block: 0px !important;
    }
    .wellness > div:first-child > p:nth-child(3){
        font-size: 16px;
        font-family: 'Sailic',sans-serif;
        font-weight: 400;
        margin-block-end: 40px;
    }
    .wellness > #spa-items{
        width: 390px;
        margin-inline: 0px;
        margin-block: 0px;
        padding-inline: 0px;
        padding-block: 0px;
    }
    .wellness > #spa-items > p{
        padding: 20px 20px 20px 20px !important;
        height: 54px !important;
        gap: 20px !important;
        border-bottom: none;
    }
    .wellness > #spa-items > div {
        display: flex;
    }

    .wellness > #spa-items > div > p{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: max-content;
    }

    .wellness > #spa-items > div > p:first-child{
        border-top: 1px solid gray;
        width: 100%;
        margin-top: 0px;
        height: 54px !important;
        margin-right: -270px;
        align-content: center;
    }
    .wellness > #spa-items > div > p:last-child{
        margin-right: 0px !important;
        color: rgba(128, 128, 128, 0.207);
    }
    .wellness > #spa-items > div > p{
        font-family: ABeeZee;
        font-size: 12px;
        font-weight: 400;
        padding-left: 20px;
        height: inherit;
    }
}