
.homepage{
    width: 100%;
    width: 1440px;
    height: 900px;
    background-image: url("./assets/bgImage.jpg");
    margin-top: -85px;
    color: white;
    font-size: xx-large;
    text-align: center;
    align-content: end;
}

.navbar{
    display: flex ;
    position: sticky ;
    width: 1440px;
    top: 0px ;
    height: 85px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}

.navbar > #button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#button:first-child{
    width: 66px;
    font-size: 10px;
    border-color: black;
}

#button:last-child{
    background-color: white !important;
    color: black;
    margin-inline-end: 5px;
}
#button:nth-child(2n){
    background-color: transparent;
    border: 1px solid white !important;
    width: 128px;
}
#button{
    width: 118px;
    height: 45px;
    border: 1px;
    border-radius: 2px;
    font-family: "ABeeZee",sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    background-color: inherit;
    font-weight: bold;
}

.navbar> #primary{
    width: 40px;
    height: 20px;
    margin-left: 40px;
}

.navbar> #primary,#button:hover{
    cursor: pointer;
}

.display{
    width: 1440px;
    height: 900px;
    background: linear-gradient(45deg,#000000 0 40%, #000000 80% 0%);
    background-image: url("./assets/backgroundImage1.jpg");
    overflow: hidden;
    color: white;
    gap: 40px;
}

.display > div{
    align-items: end;
    text-align: end;
}

#yoga,#hiit,#ride{
    width: 720px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: 0px;
}

#yoga,#hiit,#ride{
    text-align: left;
    align-content: center;
    padding: 0px 0px 0px 40px;
    font-family: 'ABeeZee',sans-serif;
}

#yoga,#ride,#hiit > div >p:first-child{
    font-size: 24px;
}

#hiit,#yoga,#ride > div > p:nth-child(2n){
    font-size: 16px;
}
#yoga >div> p:last-child{
    font-family: "Sailec",sans-serif;
    font-weight: 400;
}
#hiit >div> p:last-child{
    font-family: "Sailec",sans-serif;
    font-weight: 400;
}


#yoga > button{
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
    margin-top: 25px;
}

#hiit > button{
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
    margin: top 25px;
} 

#ride > button{
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
    margin: top 25px;
} 

#yoga:hover{
    cursor: pointer;
    background: linear-gradient(45deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url("./assets/Frame5894.png");
    background-color: white;
    color: black;
}

#ride:hover{
    cursor: pointer;
    background: linear-gradient(45deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url("./assets/Frame5894.png");
    background-color: white;
    color: black;
}

#hiit:hover{
    cursor: pointer;
    background: linear-gradient(45deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url("./assets/Frame5894.png");
    background-color: white;
    color: black;
}






